__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/

outputs/
logs/
lightning_logs/
wandb/
pl_log/
checkpoints/
val_vis/
slurm_logs/
maclab_homepage/

*.ckpt
*.pt
*.pth
*.tar
*.wandb

.env
.venv/
venv/
